torch == 2.1.2
--extra-index-url https://download.pytorch.org/whl/cpu
numpy == 1.26.4
pandas == 2.2.3
pytorch-forecasting == 1.3.0
fastapi == 0.114.0
google-cloud-storage == 2.19.0
google-cloud-aiplatform == 1.76.0
google-cloud-aiplatform[prediction]
kfp == 2.13.0
google-cloud-pipeline-components