--extra-index-url https://download.pytorch.org/whl/cpu

pandas
torch ~= 2.1.0
pytorch-forecasting
numpy
fastapi
google-cloud-storage
google-cloud-aiplatform == 1.76.0
google-cloud-aiplatform[prediction]